.airPageStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.airPageStyle h1 {
    color: white;
}

.lineChar_container {
    background: #5b434316;
    width: 50vmax;
    height: 50vh;
}
    
.lineChart {
    width: 50vmax;
    height: 100vh;
}